* {
    line-height: 25px;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.h-t {
    font-family: 'Baloo Bhai 2', cursive;

}


.t {
    color: #ffffff;
    font-size: 14px;
}

.t-b {
    color: #7a7878;
    font-size: 14px;
}

.m-t {
    font-size: 27px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;

}

.header {
    background-image: url("https://megaone.acrothemes.com/restaurant/img/banner-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 113px;
    background-position: center center;
}

.navbar>div {
    padding: 8px 20px;
}

.mylogo {
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo {
    width: 150px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger span {
    display: block;
    height: 3px;
    width: 25px;
    margin: 5px;
    background-color: #fff7f7;
    transition: all 0.3s ease-in-out;
}

.header-content-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    margin-left: 50px;
    margin-right: 50px;

}

.contact-icon {
    display: flex;
    flex-direction: column;
    color: white;
}

.contact-icon>i {
    margin: 8px 0px;
}

.header-txt-container {
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
}

.header-txt {
    width: 658px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.food-z {

    color: #84b813;
    font-size: 65px;
    font-weight: 600;
    line-height: 1;

}

.zone-txt {
    font-size: 15px;
    width: 436px;
    margin-top: 15px;
    line-height: 23px;
}

.order-btn {
    width: 114px;
    background-color: #e02f46;
    border: 0px solid;
    border-radius: 30px;
    padding: 11px;
    color: white;
    margin-top: 24px;
    margin-bottom: 20px;

}

.navlink {
    display: flex;
}

.navlink>div {
    padding: 7px 25px;
}

.back {
    display: none;
}

.overlap-row {

    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    margin: 0px 70px;
}

.overlap-item {
    transition: transform 1s ease;
    color: white;
    width: 279px;
    background: #e02f46;
    text-align: center;
    padding: 48px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -100px;

}

.overlap-item>i {
    font-size: 33px;
}


.overlap-txt-1 {
    padding: 10px 0px;
}

/* good healthy life */
.healthy-life-row {
    margin-top: 116px;

    display: flex;
    justify-content: center;
}

.healthy-life {
    display: flex;
    width: -webkit-fill-available;
    justify-content: space-between;
    padding: 0px 85px;

}

.healthy-left {
    max-width: 419px;

}

.healthy-right {
    max-width: 564px;
}

.healthy-life-heading-2 {
    font-size: 48px;
    font-weight: 600;
    color: #484b59;
    line-height: 1.2;

}

.healthy-life-heading-1 {
    color: #e02f46;
    padding-bottom: 15px;

}

.bar-container {
    display: grid;
    grid-template-columns: 540px 540px;
    justify-content: center;
    column-gap: 36px;
}

.bar-row {
    margin-top: 100px;
}

/* %bar */

.skill {
    height: 10px;
    width: 100%;
    padding: 13px 0px;
    display: flex;
    justify-content: space-between;
    color: #7a7878;
    font-size: 15px;
}

.Rbar {

    background-color: #d3dbd7;
    border: 0px solid;
}

/* bar css end here */


/* book your table */
.book-table-row {
    margin-top: 100px;
    display: flex;
    justify-content: end;
    color: white;
    padding: 120px 0px;
    background-image: url("https://megaone.acrothemes.com/restaurant/img/table-img.jpg");
}

.booking {
    max-width: 540px;
    text-align: end;
    margin-right: 85px;
}

#booked {
    margin-left: 15px;
    padding: 10px;
    width: 95%;
   
    color: #71a500;
    font-size: 15px;
    text-align: left;
}

.booking-h3 {
    font-size: 48px;
    font-weight: 400;
}

.booking-input {
    display: grid;
    grid-template-columns: auto auto;
    margin-right: -30px;
    margin-left: 26px;
    margin-top: 23px;
    margin-bottom: 23px;
}

.b-input {
    width: 80%;
    background: none;
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 15px;
}

input::placeholder {
    color: rgb(255, 255, 255);

}

textarea::placeholder {
    color: rgb(255, 255, 255);

}


.b-input ::placeholder {
    color: #ffffff;
}

.specialties-row {}

.specialties-tital {
    text-align: center;
    margin: 100px 0px;
}

.specialties {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 30px;
    justify-content: center;
    margin-bottom: 100px;
}

.our-spe {
    display: flex;
    padding: 0px 15px;
}

.spe-icon {
    margin: 0px 15px 15px 15px;
    height: 70px;
    width: 70px;
    border: 0px solid;
    border-radius: 50%;
    background-color: #84b813;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;

}

.spe-txt {
    max-width: 223px;
}

.counter-row {
    background-image: url(https://megaone.acrothemes.com/restaurant/img/counter-img.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.counter {
    color: #ffffff;
    padding: 100px 0px;
    justify-content: center;
    display: flex;
    ;
}

.h-l {
    width: 35px;
    height: 2px;
    background-color: #84b813;
    margin-bottom: 13px;
    margin-top: 20px;
}

.count {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 70px
}

.digit {
    font-size: 40px;
}

.f-500 {
    font-weight: 500;
}

.manu-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px;
}

.manu-title {
    text-align: center;
    max-width: 555px;
}

.manu-txt {
    font-size: 16px;
    line-height: 25px;
    padding-top: 20px;
}

.manu-bar {
    display: flex;
    padding: 30px 0px;
}


.manu-bar>div {
    padding: 5px 20px;
    border: 1px solid #a3a0a0;
    margin: 0px 5px;
    font-size: 14px;
    color: #3c3f46
}

.food-img-container {
    display: grid;
    grid-template-columns: 366px 366px 366px;
    gap: 2px;
}

.food-img-container>img {
    width: 100%;
    height: auto;
}

.customer-row {
    background-image: url("https://megaone.acrothemes.com/restaurant/img/testimonial-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 120px 0px;

}

.customer-title {
    max-width: 500px;
    text-align: center;
    padding-bottom: 70px;
}

.reviews {
    display: flex;
}

.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 280px;
    padding: 26px 35px;
    background: white;
    text-align: center;
}

.review-icon {
    color: #84b813;
    font-size: 40px;
}

.info-card {
    margin-top: 30px;

}

.review-p-n {
    color: #e02f46;
    font-size: 20px;
}

.review-p-location {
    font-size: 13px;
    font-weight: 600;
    color: #616161;
}

.blog-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.blog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: -webkit-fill-available;
    padding: 0px 80px;
    margin: 30px 0px
}

.blog-img {}

.blog-txt-box {
    max-width: 469px;
    justify-content: end;
    display: flex;
    flex-direction: column;
    text-align: end;
    align-items: end;
}

.blog-title {
    font-size: 2rem;
    margin-bottom: 1.2rem;
    color: #484b59;
    font-weight: 600;
}

.l-gap {
    line-height: 25px;
}

.blog-2 {
    flex-direction: row-reverse;
}

.b-box-2 {
    align-items: flex-start;
    text-align: left;
}

.blog-btn {
    width: 155px;
    background-color: #84b813;
    border: 0px solid;
    border-radius: 30px;
    padding: 11px;
    color: white;
    margin-top: 24px;
    margin-bottom: 20px;
}


.footer-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    background: #f4f4f4;
}

.footer-icon {}

.footer-icon>i {

    font-size: 22px;
    padding: 17px;
    color: #484b59;

}

.footer-txt {}


/* responsive for tabview */

@media screen and (max-width:1024px) {

    .m-t {
        font-size: 21px;
    }

    .t {
        font-size: 12px;
    }

    .burger {
        display: block;
    }

    .navlink {
        display: none;
        background: rgb(224, 47, 70);
        position: fixed;
        right: 0px;
        bottom: 0;
        top: 0;
        z-index: 999;
    }

    .back {
        display: block;
        color: rgb(255, 255, 255);
        cursor: pointer;
        font-size: 35px;
        margin-bottom: 4px;
        margin-left: 100px;
    }

    .mylogo {
        width: -webkit-fill-available;
        justify-content: space-between;
    }

    .zone-txt {
        font-size: 10px;
    }

    .food-z {
        font-size: 47px;
    }

    .overlap-row {

        margin-top: 90px;
        gap: 0px;
        margin: 56px 39px;

    }

    .overlap-item {
        margin: 0px;
        width: 189px;
        padding: 22px 16px
    }



    .healthy-life {
        padding: 0px 45px;
    }

    .healthy-left {
        width: 245px;
        margin-top: 44px;
    }

    .healthy-right.t-b {
        max-width: 357px;
        font-size: 16px;
    }


    .healthy-life-heading-2 {
        font-size: 30px;
    }

    .bar-container {
        grid-template-columns: 87%;
    }

    .book-table-row {
        justify-content: center;
    }

    .booking {
        text-align: center;
        margin: 0px;
    }

    .booking-input {
        margin-right: -16px;
        margin-left: 15px;
    }

    .healthy-life-heading-1 {
        font-size: 18px;
        font-weight: 500;
    }

    .our-spe {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .count {
        padding: 0px 15px;
    }

    .food-img-container {
        grid-template-columns: 366px 366px;
    }

    .review {
        width: 162px;
        padding: 26px 20px;
    }


    .blog-img>img {
        width: 360px;
    }

    .blog {
        padding: 0px 50px;
        gap: 48px;
    }

    .footer-row {
        padding: 30px 0px;
    }

}


/* for mobile */


@media screen and (max-width: 500px) {

    input::placeholder {
        color: rgb(255, 255, 255);

    }

    .healthy-life-row {
        margin-top: 0px;
    }

    .footer-row {
        padding: 20px 0px;
    }

    h4.h-t.blog-title {
        line-height: 35px;
    }

    .customer-title {
        padding: 0px 8px;
    }

    .m-t {
        font-size: 14px;
    }

    .contact-icon {
        display: none;
    }

    .navbar>div {
        padding: 0px 18px;
    }

    .food-z {
        font-size: 26px;
    }

    .zone-txt {
        font-size: 10px;
        width: 302px;
    }

    .overlap-row {
        grid-template-columns: auto;
        gap: 33px;
    }

    .r-class {
        margin: 0px;
    }

    .healthy-life {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .specialties {
        display: block;
    }

    .counter {
        flex-direction: column;
        align-items: center;
    }

    .count {
        margin: 30PX 0PX;
    }

    .food-img-container {
        grid-template-columns: 100%;
        padding: 0px 15px;
        gap: 0px;
    }

    .reviews {
        flex-direction: column;

    }

    .review {
        width: 100%;
    }

    .reviews {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .blog {
        flex-direction: column;
    }

    .blog-txt-box {
        text-align: center;
        align-items: center;
        margin-top: 30px;
    }

    .booking-h3 {
        font-size: 33px;
        font-weight: 400;
    }

    .booking {
        padding: 0px 15px;
    }

    .booking-input {
        margin: 0px;
        /* align-items: center; */
        justify-content: center;
        column-gap: 26px;
        grid-template-columns: 100%;
    }

    input.b-input {
        width: 93%;
    }

    .overlap-item {
        width: 100%;
        padding: 56px 16px;
    }

    .our-spe {
        margin-top: 20px;
    }

    .manu-bar {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (max-width: 320px) {
    .blog-img>img {
        width: 296px;
    }

    .footer-txt {
        text-align: center;
    }
}


/*  */
button:hover {
    background: #84b813;
}

.navlink>div:hover {
    background: #84b813;
    border: 0px solid;
    border-radius: 30px;


}